body {
  background-color: #252627;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

#sidebar {
  width: 96px;
  max-width: 250px;
  min-height: 100vh;
  background-color: #181818;
  margin-right: 40px;
}

.sidebar-header {
  margin-top: 20px;
}

#logo {
  text-decoration: none;
  font-size: 24px;
}

ul {
  text-align: center;
  font-size: 1.5em;
  margin-right:  0;
  padding: 10px;
}

#sidebar li  {
 list-style: none;
 font-size: 1.5em;
}

.sidebar-header{
   text-align: center;
   margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: #79F7DA;
  font-size: 32px;
  opacity: 0.9;
}

a:hover {
  color: #BF808C;
  opacity: 1;
}


#round-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


.logo-img {
  width: 56px;
  height: 56px;
}


.home-btn {
  color: #79F7DA;
  border-color: #79F7DA;
}

.home-btn:hover {
  color: #BF808C;
  border-color: #79F7DA;
  background-color: transparent;
}

.social-icons {
  position: fixed;
  bottom: 50px;
  margin-left: 20px;
}

.social-icons ul{
 font-size: 1.5em;
}

.social-icons li {
  padding-top: 10px;
  font-size: 1.5em;
}

.avatar {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.page {
  height: 100vh;
}

.home-page-content {
  margin-left: 150px;
  margin-right: 100px;
}

span {
  font-weight: lighter;
  font-style: italic;
  color: #505051;
  margin-bottom: 32px;
  font-size: 20px;
}

#body-tag {
  padding-left: 20px;
}

#h1-tag {
  padding-left: 40px;
}


h1 {
  color: #BF808C;
  padding-left: 60px;
  font-size: 80px;
}

h2 {
  padding-left: 60px;
  font-size: 56px;
}

.home-btn {
  padding: 16px;
  border-radius: 4px;
  margin: 60px;
  font-size: 30px;
}


/*About me page */

#bio {
  padding-left: 60px;
  width: 550px;
  font-size: 18px;
  font-weight:lighter;
}

.grid {
  padding: 60px;
  margin: 0 auto;
  max-width: 1200px;
}

.grid--item {
  position: relative;
  margin-top: -90px;
  margin-right: 5px;
  margin-left: 5px;
  width: calc(33.33% - 10px);
  float: left;
  transition: all 0.5s;
  overflow: hidden;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -webkit-shape-outside: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.grid--item:before {
  display: block;
  padding-top: 112.5%;
  content: '';
}
.grid--item:nth-child(1), .grid--item:nth-child(2) {
  margin-top: 0;
}
.grid--item:nth-child(7n - 1), .grid--item:nth-child(1) {
  margin-left: 185px;
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.img:before, .img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  transition: opacity 0.5s;
}
.img:before {
  background: rgba(128, 0, 128, 0.25);
}
.img:after {
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
}

.hex-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  opacity: 0;
  text-align: center;
  color: white;
  will-change: transform;
  backface-visibility: hidden;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 0.5s;
  -webkit-shape-outside: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  shape-outside: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.desc {
  margin: 1em 0 0;
  font-family: 'ATC Overlook';
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  line-height: 1.5;
  color: turquoise;
}

.grid--item:hover .img:before,
.grid--item:hover .img:after,
.grid--item:hover .container {
  opacity: 1;
}
.grid--item:hover .container {
  transform: translate(-50%, -50%) scale(1);
}


/*@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
*/
