body {
  background-color: #191919;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.lang {
  width: 50px;
  height: 50px;
  margin: 50px;
}

h1 {
  color: #252525;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #8EC995;
  font-size: 24px;
  opacity: 0.9;
}

a:hover {
  color: #7DF491;
  opacity: 1;
}

h2 {
  color: #BF808C;
}


.container {
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.text-align {
  text-align: center;
}

#round-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card-grey {
  background-color: #bbbbbb;
  opacity: 0.8;
  border-radius: 4px;
  padding: 8px;
  margin: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1)
}

.footer-card-grey {
  background-color: #bbbbbb;
  opacity: 0.8;
  border-radius: 4px;
  padding: 4px;
  margin: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1)
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}


.list-inline {
  list-style: none;
  padding-left: 0px;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.navbar-inverse  {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    background-color: #BF808C;
}

#sidebar.active {
    margin-left: -250px;
}




