body {
  background-color: #252627;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

#sidebar {
  max-width: 250px;
  min-height: 100vh;
  background-color: #181818;
  padding-right: 8px;
  padding-left: 8px;
}

.sidebar-header {
  margin-top: 20px;
}

.icon_text {
  font-size: 12px;
  color: white;
  font-weight: lighter;
  display: none;
}


#logo {
  text-decoration: none;
  font-size: 16px;
}

ul {
  text-align: center;
  font-size: 0.5em;
  margin-right:  0;
  padding: 10px;
}

#sidebar li  {
 list-style: none;
 font-size: 1.5em;
 padding-top: 20px;
}

.sidebar-header{
   text-align: center;
   margin-bottom: 32px;
}

a {
  text-decoration: none;
  color: #79F7DA;
  font-size: 24px;
  opacity: 0.9;
}

a:hover {
  color: #BF808C;
  opacity: 1;
  text-decoration: none;
}


#round-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.logo-img {
  width: 48px;
  height: 48px;
}


.home-btn {
  color: #79F7DA;
  border-color: #79F7DA;
  padding: 12px;
  border-radius: 4px;
  margin: 60px;
  font-size: 20px;
  background-color: #252627;
}

.home-btn:hover {
  color: #BF808C;
}

.home-btn:focus {
  outline: none;
}

.social-icons ul{
 font-size: 1.5em;
}

.social-icons li {
  padding-top: 20px;
  font-size: 1.5em;
}

.avatar {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.page {
  height: 100vh;
  margin-top: 10px;

}

.show-content{
  display: none !important;
}

.home-page-content {
  margin-left: 150px;
  margin-right: 100px;

}

span {
  font-weight: lighter;
  font-style: italic;
  color: #505051;
/*  margin-bottom: 32px;*/
  font-size: 16px;
}

#body-tag {
  padding-left: 20px;
}

#h1-tag {
  padding-left: 40px;
}


h1 {
  color: #BF808C;
  padding-left: 60px;
  font-size: 56px;
}

h2 {
  padding-left: 60px;
  font-size: 32px;
}


/*About me page */

.bio {
  padding-left: 60px;
  width: 450px;
  font-size: 16px;
  font-weight:lighter;
}


*, *::before, *::after {
  box-sizing: border-box;
}

.honeycomb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  padding: 0;
  -webkit-transform: translateY(34.375px);
          transform: translateY(34.375px);
}
.honeycomb-cell {
  flex: 0 1 150px;
  max-width: 150px;
  height: 76px;
  margin-left: 16px;
  margin-bottom: 54px;
  position: relative;
  padding: 24px;
  text-align: center;
  z-index: 1;
}
.honeycomb-cell__title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  text-transform: uppercase;
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
  transition: opacity 350ms;
}
.honeycomb-cell__title > small {
  font-weight: 300;
  margin-top: 0.25em;
}

.honeycomb-cell::before, .honeycomb-cell::after {
  content: '';
}
.honeycomb-cell::before, .honeycomb-cell::after, .honeycomb-cell__image {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}
.honeycomb-cell::before {
  background: #79F7DA;
  -webkit-transform: scale(1.055);
          transform: scale(1.055);
}
.honeycomb-cell::after {
  background: black;
  opacity: 0.5;
  transition: opacity 1000ms;
}
.honeycomb-cell:hover .honeycomb-cell__title {
  opacity: 0.8;
}

.honeycomb-cell:hover::before {
  background: #BF808C;
}
.honeycomb-cell:hover::after {
  opacity: 0;
}
.honeycomb__placeholder {
  display: none;
  opacity: 0;
  width: 250px;
  margin: 0 12.5px;
}

@media (max-width: 550px) {
  .honeycomb-cell {
    margin: 81.25px 25px;
  }
}
/*@media (min-width: 550px) and (max-width: 825px) {
  .honeycomb-cell:nth-child(3n) {
    margin-right: calc(50% - 125px);
    margin-left: calc(50% - 125px);
  }

  .honeycomb__placeholder:nth-child(3n + 5) {
    display: block;
  }
}*/
/*@media (min-width: 825px) and (max-width: 1100px) {
  .honeycomb-cell:nth-child(5n + 4) {
    margin-left: calc(50% - 275px);
  }

  .honeycomb-cell:nth-child(5n + 5) {
    margin-right: calc(50% - 275px);
  }

  .honeycomb__placeholder:nth-child(5n), .honeycomb__placeholder:nth-child(5n + 3) {
    display: block;
  }
}*/
@media (min-width: 550px) {
  .honeycomb-cell:nth-child(7n + 5) {
    margin-left: calc(50% - 400px);
  }

  .honeycomb-cell:nth-child(7n + 7), .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
    margin-right: calc(50% - 400px);
  }

  .honeycomb__placeholder:nth-child(7n + 7), .honeycomb__placeholder:nth-child(7n + 9), .honeycomb__placeholder:nth-child(7n + 11) {
    display: block;
  }
}


/*project page*/
.project-name {
  text-align: center;
}

.project-tag {
  font-size: 24px;
  font-weight: normal;
}

.project-bio {
  padding-left: 60px;
  width: 800px;
  font-size: 16px;
  font-weight:lighter;
  padding-top: 50px;
  padding-bottom: 150px;
}

/*contact page*/

.contact-btn {
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  color: #79F7DA;
  border: 1px solid #79F7DA;
  font-weight: normal;
}

.contact-btn:hover {
  color: #BF808C;
  background-color: transparent;
  text-decoration: none;
}

.contact-btn:focus {
  outline: none;
}

/*@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
*/
